:root {
    --dark-bg: black;
    --light-bg: white;
    --blue-bg: #00439C;
    --dark-blue-bg: #161C3B;
    --light-dark-bg: #1F1F1F;
    --grey-bg: #BEBCBB;
    --text-blue: #00439C;
    --gray-text: gray;
}

/* #region header */

/* #region header top */

#header_top {
    background-color: var(--dark-bg);
}

#sony_logo {
    width: 84px;
}

/* #endregion header top */


/* #region header bottom */

#header_bottom {
    background-color: var(--light-bg);
    font-family: Arial, Helvetica, sans-serif;
}


#header_bottom .ms_btn {
    border-radius: 20px;
}

#lens {
    width: 25px;
}

/* #endregion header bottom */

/* #endregion header  */

/* #region main */

main {
    font-family: Arial, Helvetica, sans-serif;
}

/* #region jumbotron */

#ms_jumbotron {
    background-image: url(./img/jumbo-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
}

.ms_height {
    height: 100%;
}

#ms_jumbotron .ms_btn {
    border-radius: 20px;
}

.fs_h2 {
    font-size: 40px;
    font-weight: 600;
}

/* #endregion jumbotron */

#my_margin {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.game_cover {
    border: 3px solid var(--text-blue);
}

/* #region playstation five */

.blue_title {
    color: var(--text-blue);
}

.grey_text {
    color: var(--gray-text);
}

#playstation_five .general_margin {
    margin-bottom: 2rem;
}

#playstation_five .ms_btn {
    border-radius: 20px;
}

.ms_padding {
    padding: 3rem;
}

.ms_border {
    border-bottom: 2px solid var(--blue-bg);
}

/* #endregion playstation five */

/* #region it takes two */


#takes_two {
    background-image: url(./img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#takes_two .ms_btn {
    border-radius: 20px;
}

/* #endregion it takes two */

/* #region new release */

#new_releases {
    background-color: var(--light-dark-bg);
}

#new_releases .general_margin {
    margin-bottom: 2rem;
}

.fs_h6 {
    font-size: 18px;
}

.fs_h4 {
    font-size: 30px;
}

/* #endregion new release */

/* #region explore */

.ms_margin_top {
    margin-top: 4rem;
}

.reg_mark {
    font-size: 15px;
    position: absolute;
}

#explore .general_margin {
    margin-bottom: 3rem;
}

#explore .ms_btn {
    border-radius: 20px;
}


/* #endregion explore */

/* #region playstation plus */

#playstation_plus {
    background-color: var(--grey-bg);
}

.play_plus_logo {
    width: 60%;
}

#playstation_plus .ms_btn {
    border-radius: 20px;
}

#playstation_plus .general_margin {
    margin-bottom: 3rem;
}

#playstation_plus .blue_title {
    color: var(--text-blue);
    font-weight: 500;
}

/* #endregion playstation plus */

